/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */



/* clearfix */
/*.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}*/

/* display none until init */
.owl-carousel{
	display: none;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	/*-webkit-transform: translate3d(0px, 0px, 0px);*/
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	transition: height .5s ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}

/* mouse grab icon */
.grabbing { 
    cursor: pointer;
}

/* fix */
/*.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}*/

.owl-theme .owl-controls{
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/*.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	opacity: 1;
	text-decoration: none;
}*/

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 .5em;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
.owl-carousel .item img{
display: block;
width: 100%;
height: auto;
}


























/* 4. Media queries desde 640px (escritorio) */
@media all and (min-width: 640px) {


.owl-carousel {
	position: absolute;
	width: 50%;
	cursor: e-resize;
}







}